*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    height: 100%;

    font-size: 18px;
}
/* 1 */
.img1{
    min-height: 600px;
    background-image: url(image1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

}

.text1{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}

/* 2 */
.img2{
    min-height: 600px;
    background-image: url(image2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

}

.text2{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}
/* 3 */
.img3{
    min-height: 600px;
    background-image: url(image3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

}

.text3{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}



.img4{
    min-height: 600px;
    background-image: url(image4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

}

.text4{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}

/* 5 */
.img5{
    min-height: 600px;
    background-image: url(image5.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

}

.text5{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}
/* 6 */
.img6{
    min-height: 600px;
    background-image: url(image6.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

}

.text6{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}
/* 7 */
.img7{
    min-height: 600px;
    background-image: url(image7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

}

.text7{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}

/* Medai Query */
@media screen and (max-width: 420px) {
    body{
        background-color: black;
    }
    .cc{
        display: none;
       }

    button{
        box-shadow: 2rem 2rem 3rem white;
        border-radius: 3rem;
        border: none;
        font-size: 2rem;
        margin-top: 25%;
        margin-left: 20%;
        height: 6rem;
        width: 35rem;
        background-color: #e69191;
        color: white;
       
       }

       /* h2 {
        height: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
       } */

       h2 {
        /* font-weight: bold; */
        font-size: 3rem;
        /* border: 3px solid #E69191; */
        margin-left: 3rem;
        /* margin: auto; */
        width: 200%;
        height: 182px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }


       /* 1 */
.img1{
    
    background-image: url(image1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 1500px;
    width: 230%;
}

/* button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

} */

.text1{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}

/* 2 */
.img2{
   
    background-image: url(image2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
   
    height: 1500px;
    width: 230%;
}

/* button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

} */

.text2{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}
/* 3 */
.img3{
    
    background-image: url(image3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 1500px;
    width: 230%;
}

/* button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

} */

.text3{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}



.img4{
   
    background-image: url(image4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 1500px;
    width: 230%;
}

/* button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

} */

.text4{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}

/* 5 */
.img5{
   
    background-image: url(image5.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 1500px;
    width: 230%;
}

/* button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

} */

.text5{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}
/* 6 */
.img6{
   
    background-image: url(image6.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 1500px;
    width: 230%;
}

/* button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

} */

.text6{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}
/* 7 */
.img7{
    
    background-image: url(image7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 1500px;
    width: 230%;
}

/* button{
 margin-top: 25%;
 margin-left: 30%;
height: 4rem;
width: 35rem;
background-color: black;
color: white;

} */

.text7{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}
}

